
.sidebar {
    @apply fixed top-0 left-0 z-20 h-fit -translate-x-full md:translate-x-0 transition-[width] ease-in-out duration-300;

    &.closed {
        @apply w-[90px];
    }

    &.open {
        @apply w-60;
    }
}

.sidebar-content {
    @apply relative h-full flex flex-col px-3 py-4 overflow-y-auto shadow-md dark:shadow-zinc-800;
}

.sidebar-brand {
    @apply transition-transform ease-in-out duration-200 mb-1;

    &.closed {
        @apply translate-x-1;
    }

    &.open {
        @apply translate-x-0;
    }
}

.sidebar-brand-link {
    @apply flex items-center gap-2;
}

.sidebar-brand-icon {
    @apply w-6 h-6 mr-1;
}

.sidebar-brand-text {
    @apply font-bold text-lg whitespace-nowrap transition-[transform,opacity,display] ease-in-out duration-300;

    &.closed {
        @apply -translate-x-96 opacity-0 hidden;
    }

    &.open {
        @apply translate-x-0 opacity-100;
    }
}

.sidebar-toggle-wrapper {
    @apply invisible md:visible absolute top-[12px] -right-[16px] z-20;
}

.sidebar-toggle-button {
    @apply rounded-md w-8 h-8;
}

.sidebar-toggle-icon {
    @apply h-4 w-4 transition-transform ease-in-out duration-700;

    &.open {
        @apply rotate-0;
    }

    &.closed {
        @apply rotate-180;
    }
}

.menu-scroll-area {
    @apply [&>div>div[style]]:!block;
}

.menu-nav {
    @apply mt-8 h-full w-full;
}

.menu-list {
    @apply flex flex-col min-h-[calc(100vh-48px-36px-16px-32px)] md:min-h-[calc(100vh-32px-40px-32px)] items-start space-y-1 px-2;
}

.menu-group {
    @apply w-full;

    &.with-label {
        @apply pt-5;
    }
}

.group-label {

    &.closed {
        @apply w-full flex justify-center items-center
    }

    &.open {
        @apply text-sm font-medium text-muted-foreground px-4 pb-2 max-w-[248px] truncate;
    }
}

.group-label-icon {
    @apply h-5 w-5;
}

.menu-item {
    @apply w-full justify-start h-10 mb-1;
}

.menu-item-content {
    @apply w-full items-center flex justify-between;
}

.menu-item-icon-wrapper {
    @apply flex items-center;
}

.menu-item-label {
    @apply max-w-[200px] truncate;

    &.menu-item-label-open{
        @apply translate-x-0 opacity-100;
    }

    &.menu-item-label-closed {
        @apply -translate-x-96 opacity-0;
    }
}

.menu-item-chevron {
    @apply transition-transform duration-200;

    &.open {
        @apply rotate-180;
    }
}

.collapse-trigger {
    @apply [&[data-state=open]>div>div>svg]:rotate-180 mb-1;
}

.menu-collapse-content {
    @apply overflow-hidden transition-all duration-300 ease-in-out;

    &[data-state='closed'] {
        @apply max-h-0 opacity-0;
    }

    &[data-state='open'] {
        @apply max-h-[1000px] opacity-100;
    }
}

.submenu-item {
    @apply w-full justify-start h-10;

    .submenu-icon {
        @apply mr-4 ml-2;
    }
}

.dropdown-label {
    @apply max-w-[190px] truncate;
}

.dropdown-item-label {
    @apply max-w-[180px] truncate;
}
